<header id="main-header">
  <div id="logo">
    <a href="/">MOVIES APP</a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/posts">All Movie Posts</a>
      </li>
      <li>
        <a href="/new-post">Create a movie Post</a>
      </li>
    </ul>
  </nav>
</header>